<div class="main-container">
  <div class="upper-div header">Reset Password</div>
  <div class="lower-div">
    <div class="img-div">
      <img src="../../../../assets/images/forgot-password.jpg" alt="img" />
    </div>
    <div class="form-div global-mat-class">
      <form [formGroup]="resetPasswordFormGroup">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="Email"
            [readonly]="otpSended"
          />
          <mat-error *ngIf="hasError('email', 'required')" data-id="email-error"
            >*This field is required</mat-error
          >
          <mat-error *ngIf="hasError('email', 'pattern')" data-id="email-pattern-error"
            >*Please Enter a Valid Email</mat-error
          >
        </mat-form-field>
      </form>
      <div class="action-buttons">
        <button mat-raised-button class="btn btn--green send-otp" (click)="sendResetPasswordMail()">
          Send Mail
        </button>
      </div>
    </div>
  </div>
</div>
