<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvEXO0gOyVg9ahO5DcXMUDUQN56yA8iVg</string>
	<key>GCM_SENDER_ID</key>
	<string>568811033764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.genesisapps.snaxgenie</string>
	<key>PROJECT_ID</key>
	<string>snaxgenieuser-de913</string>
	<key>STORAGE_BUCKET</key>
	<string>snaxgenieuser-de913.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568811033764:ios:217eef7a5005c3af170231</string>
</dict>
</plist>