.add-subject-main {
  .top-conatiner {
    height: 40px;
    background-color: #93be3b;
  }
  .mid-container {
    .field-error {
      font-size: smaller;
      color: red;
      margin: 11px 0px 0px -12px;
    }
  }
}
