.change-password-main {
  display: flex;
  width: 450px;
  flex-direction: column;
  justify-content: center;
  margin: 20vh auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;
  .top-container {
    height: 40px;
    background-color: #93be3b;
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    justify-content: center;
    border-radius: 4px 4px 0px 0px;
  }
  .mid-container {
    mat-checkbox {
      --mdc-checkbox-state-layer-size: 35px;
    }
    .input-mid-container {
      margin-top: 8px;
    }

    .mat-error {
      font-size: 12px;
    }
  }
}
