<ng-container>
  <div class="container">
    <div class="change-password-main">
      <div class="top-container">
        <span class="text-center text-white">Change Password</span>
      </div>
      <form [formGroup]="changePasswordForm">
        <div class="mid-container pb-2 pt-4 d-flex flex-column w-75 m-auto global-mat-class">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              readonly
              formControlName="email"
              placeholder="Email"
              data-id="email-field"
            />
            <mat-error *ngIf="hasError('email', 'required')" data-id="email-error"
              >*This field is required</mat-error
            >
            <mat-error *ngIf="hasError('email', 'pattern')" data-id="email-pattern-error"
              >*Please Enter a Valid Email</mat-error
            >
          </mat-form-field>
          <mat-form-field class="input-mid-container" appearance="outline">
            <mat-label>New Password</mat-label>
            <input
              matInput
              formControlName="newPassword"
              placeholder="New Password"
              [type]="hideNewPassword ? 'password' : 'text'"
              data-id="new-password-field"
            />
            <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">{{
              hideNewPassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
            <mat-error
              *ngIf="hasError('newPassword', 'required')"
              data-id="new-password-error"
              class="mat-error"
              >*This field is required</mat-error
            >
            <mat-error
              *ngIf="hasError('newPassword', 'minlength')"
              data-id="new-password-minimum-length-error"
              class="mat-error"
              >*Passwords should be at least 8 characters long.</mat-error
            >
            <mat-error
              *ngIf="hasError('newPassword', 'maxlength')"
              data-id="new-password-maximum-length-error"
              class="mat-error"
              >*Password length should not exceed 40 characters.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="input-mid-container" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              formControlName="confirmPassword"
              placeholder="Confirm Password"
              [type]="hideConfirmPassword ? 'password' : 'text'"
              data-id="verify-password-field"
            />
            <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{
              hideConfirmPassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
            <mat-error
              *ngIf="hasError('confirmPassword', 'required')"
              data-id="confirm-password-required-error"
              class="mat-error"
              >*This field is required</mat-error
            >
            <mat-error
              *ngIf="changePasswordForm.controls['confirmPassword'].errors?.['matchPassword']"
              data-id="confirm-password-match-error"
              class="mat-error"
              >*Password is not matching.</mat-error
            >
          </mat-form-field>
        </div>
        <div class="border-top d-flex justify-content-evenly p-3">
          <button
            mat-raised-button
            class="button-green"
            [ngClass]="changePasswordForm.valid ? '' : 'show-disabled'"
            [disabled]="!changePasswordForm.valid"
            (click)="changePassword()"
            data-id="submit-button"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-container>
