.change-password-main {
  .top-conatiner {
    height: 40px;
    background-color: #93be3b;
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    justify-content: center;
    font-weight: light;
  }
  .mid-container {
    mat-checkbox {
      --mdc-checkbox-state-layer-size: 35px;
    }
    .input-mid-container {
      margin-top: 8px;
      mat-error {
        font-size: 10px;
      }
    }
  }
}
