<ng-container>
  <div class="change-password-main">
    <div class="top-conatiner">
      <span class="text-center text-white">Change Password</span>
    </div>
    <form [formGroup]="changePasswordForm">
      <div class="mid-container pb-3 pt-4 d-flex flex-column w-75 m-auto global-mat-class">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="Email"
            data-id="email-field"
            readonly
          />
          <mat-error *ngIf="hasError('email', 'required')" data-id="email-error"
            >*This field is required</mat-error
          >
          <mat-error *ngIf="hasError('email', 'pattern')" data-id="email-pattern-error"
            >*Please Enter a Valid Email</mat-error
          >
        </mat-form-field>
        <mat-form-field class="input-mid-container" appearance="outline">
          <mat-label>Old Password </mat-label>
          <input
            matInput
            formControlName="oldPassword"
            placeholder="Old Password"
            type="password"
            data-id="old-password-field"
          />
          <mat-error *ngIf="hasError('oldPassword', 'required')" data-id="old-password-error"
            >*This field is required</mat-error
          >
          <mat-error
            *ngIf="hasError('oldPassword', 'minlength')"
            data-id="old-password-minimum-length-error"
            >*Password length should be greater than or equal to 8 character.</mat-error
          >
        </mat-form-field>
        <mat-form-field class="input-mid-container" appearance="outline">
          <mat-label>New Password </mat-label>
          <input
            matInput
            formControlName="newPassword"
            placeholder="New Password"
            type="password"
            data-id="new-password-field"
          />
          <mat-error *ngIf="hasError('newPassword', 'required')" data-id="new-password-error"
            >*This field is required</mat-error
          >
          <mat-error
            *ngIf="hasError('newPassword', 'minlength')"
            data-id="new-password-minimum-length-error"
            >*Password length should be greater than or equal to 8 character.</mat-error
          >
        </mat-form-field>
      </div>
      <div class="border-top d-flex justify-content-evenly p-3">
        <button
          mat-raised-button
          class="button-green"
          [ngClass]="changePasswordForm.valid ? '' : 'show-disabled'"
          [disabled]="!changePasswordForm.valid"
          (click)="changePassword()"
          data-id="submit-button"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</ng-container>
